name: Cocoapod dev release
on:
  push:
    branches:
      - 'main'
  repository_dispatch:
    types: [cocoapod-release-dev]
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
env:
  COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
jobs:
  update-dev-release-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Collect version
        run: |
          echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV
      - name: Update tags
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "v${{ env.VERSION }}"
          message: "gRPC-iOS Dev Release for ${{ env.VERSION }}"
          force_push_tag: true

  release-cocoapod-gRPC-RxLibrary:
    runs-on: macos-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: Delete existing
        run: |
          version=$(cat VERSION)
          if ! [[ $version == *-dev ]]; then exit 1; fi
          genv --default-signal=PIPE yes | scripts/delete_pod_version.sh gRPC-RxLibrary $version

      - name: Pod release
        run: scripts/release_cocoapod.sh gRPC-RxLibrary.podspec

      - name: Wait for pod avaialble
        run: |
          version=$(cat VERSION)
          timeout 1h scripts/wait_for_pod_release.sh gRPC-RxLibrary $version

  release-cocoapod-gRPC:
    runs-on: macos-latest
    needs: release-cocoapod-gRPC-RxLibrary
    steps:
      - name: Repo checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: Delete existing
        run: |
          version=$(cat VERSION)
          if ! [[ $version == *-dev ]]; then exit 1; fi
          genv --default-signal=PIPE yes | scripts/delete_pod_version.sh gRPC $version

      - name: Pod release
        run: scripts/release_cocoapod.sh gRPC.podspec

      - name: Wait for pod avaialble
        run: |
          version=$(cat VERSION)
          timeout 1h scripts/wait_for_pod_release.sh gRPC $version

  release-cocoapod-gRPC-ProtoRPC:
    runs-on: macos-latest
    needs: [release-cocoapod-gRPC-RxLibrary, release-cocoapod-gRPC]
    steps:
      - name: Repo checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: Delete existing
        run: |
          version=$(cat VERSION)
          if ! [[ $version == *-dev ]]; then exit 1; fi
          genv --default-signal=PIPE yes | scripts/delete_pod_version.sh gRPC-ProtoRPC $version

      - name: Pod release
        run: scripts/release_cocoapod.sh gRPC-ProtoRPC.podspec

      - name: Wait for pod avaialble
        run: |
          version=$(cat VERSION)
          timeout 1h scripts/wait_for_pod_release.sh gRPC-ProtoRPC $version
