name: gRPC Native Source Shallow Sync Workflow
on:
  schedule:
      - cron: '0 0 * * *' # Once per day at midnight
  repository_dispatch:
      types: [grpc-source-sync]
jobs:
  gRPC-Native-Source-Shallow-Sync:
    runs-on: macos-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install git-achive-all
        run: brew install git-archive-all

      - name: Shallow source source
        run: scripts/sync_grpc_src_shallow.sh

      - name: Collect revision hash
        run: |
          echo "grpc_src_revision=$(cat .native/REVISION.txt)" >> $GITHUB_ENV

      - name: Create or update pull request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "[bot] gRPC native source shallow sync"
          commit-message: Native source sync at revision @${{ env.grpc_src_revision }}
          body: |
            Native source sync at revision @${{ env.grpc_src_revision }}
          delete-branch	: true
          labels: |
            kind/bot
            area/automation
          reviewers: |
            dennycd
            sampajano
