name: Post submit checks
on:
  workflow_run:
    workflows: ["Cocoapod dev release"]
    types: [completed]
    branches: [main]
  repository_dispatch:
    types: [post-submit-check]
jobs:
  post-submit-check-cocoapod-lint-gRPC:
    runs-on: macos-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: gRPC podspec lint checks
        run: scripts/lint_test_cocoapod_spec.sh -p gRPC.podspec

  post-submit-check-cocoapod-lint-gRPC-ProtoRPC:
    runs-on: macos-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: gRPC-ProtoRPC podspec lint checks
        run: scripts/lint_test_cocoapod_spec.sh -p gRPC-ProtoRPC.podspec

  post-submit-check-cocoapod-lint-gRPC-RxLibrary:
    runs-on: macos-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare environment
        run: scripts/prepare_env.sh

      - name: gRPC-RxLibrary podspec lint checks
        run: scripts/lint_test_cocoapod_spec.sh -p build/cocoapod/gRPC-RxLibrary.podspec
